name: CI

on:
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: test
      run: make test
    - name: Codecov
      uses: codecov/codecov-action@v1.0.5
      with:
        # User defined upload name. Visible in Codecov UI
        #name: # optional
        # Repository upload token - get it from codecov.io
        token: 10d2a2e6-4c6e-4c8c-81bc-19d45273b654
        # Path to coverage file to upload
        file: ./bin/coverage/coverage.txt
        # Flag upload to group coverage metrics (e.g. unittests | integration | ui,chrome)
        #flags: # optional
        # Specify the location of the .codecov.yml config file
        #yml: 
        # Specify whether or not CI build should fail if Codecov runs into an error during upload
        fail_ci_if_error: true
      
